#gallery{
    margin-top: 100px;
    .gallery-container{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        overflow: hidden;
        min-width: 600px;
        max-width: 900px;
        width: calc(100% - 100px);
        height: 400px;
        .gallery-inner{
            position: relative;
            overflow: hidden;
            min-width: 60px;
            margin: 10px;
            background-position: center;
            background-size: cover;
            cursor: pointer;
            transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            flex-grow: 1;
            border-radius: 30px;
            img{
                @include position-absolute(0,0,0,0);
                height: 100%;
                width: 100%;
            }
            .shadow-section{
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 100%;
                height: 100%;
                transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            }
            .label{
                bottom: 10px;
                display: flex;
                position: absolute;
                right: 10px;
                height: 40px;
                transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
                .icon{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    min-width: 40px;
                    max-width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color: white;
                    color: rgb(106, 13, 228);
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 20px;
                    color: white;
                    white-space: pre;
                    div{
                        left: 20px;
                        opacity: 0;
                        position: relative;
                        transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
                    }
                    .main{
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                    .sub{
                        transition-delay: 0.1s;
                    }
                }
            }
        }
        // .gallery-inner:nth-child(1){
        //     background: url("../img/gallery-image-1.png");
        // }
        // .gallery-inner:nth-child(2){
        //     background: url("../img/gallery-image-3.png");
        // }
        // .gallery-inner:nth-child(3){
        //     background: url("../img/gallery-image-2.png");
        // }
        // .gallery-inner:nth-child(4){
        //     background: url("../img/gallery-image-4.png");
        // }
        // .gallery-inner:nth-child(5){
        //     background: url("../img/gallery-image-5.png");
        // }
        .active{
            flex-grow: 10000;
            transform: scale(1);
            max-width: 600px;
            margin: 0px;
            border-radius: 40px;
            background-size: auto 100%;
            .shadow-section{
                box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
            }
            .label{
                bottom: 20px;
                left: 20px;
                .info{
                    div{
                        left: 0px;
                        opacity: 1;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 718px) {
    #gallery{
      .gallery-container{
        min-width: 520px;
        .gallery-inner:nth-child(5){
            display: none;
        }
      }
    }
}
@media screen and (max-width: 638px) {
    #gallery{
      .gallery-container{
        min-width: 440px;
        .gallery-inner:nth-child(4){
            display: none;
        }
      }
    }
}
@media screen and (max-width: 558px) {
    #gallery{
      .gallery-container{
        min-width: 360px;
        .gallery-inner{
            .label{
                .info{
                    .sub{
                        display: none;
                    }
                }
            }
        }
        .gallery-inner:nth-child(3){
            display: none;
        }
      }
    }
}
@media screen and (max-width: 478px) {
    #gallery{
      .gallery-container{
        min-width: 280px;
        .gallery-inner{
            .label{
                .info{
                    .sub{
                        display: none;
                    }
                }
            }
        }
        .gallery-inner:nth-child(2){
            display: none;
        }
      }
    }
}