// Fonts variable
$fonts-path: "../fonts";
$font-family: "IRANYekanWebMedium";
$font-weight: 700;
$font-style: "normal";
$bg-navbar: linear-gradient(to left, #4539c2, #1a156b);
$nav-link-size:15px;
$nav-link-color:rgb(102, 102, 102);
$searchbox-color: rgb(73, 73, 73);
$default-font-size: 16px;
$nav-link-hover:rgb(81, 0, 134);
$undeline-box-bg:rgb(131, 10, 212);
$social-icons-color:#5d5858;
$social-icons-color-hover:#3f3d3d;
$default-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
$login-btn-color:rgb(247, 247, 247);
$carousel-caption-head-color:rgb(219, 219, 219);
$card-news-content-header-color: rgb(4, 4, 119);
$news-card-content-color: rgb(41, 41, 41);
$time-news-card-color: rgb(99, 99, 99);
$btn-news-color:#fff;
$btn-news-bg:rgb(37, 2, 119);
$web-services-header-color: rgb(40 40 40);
$dropdown-item-hover: rgb(70, 0, 182);
$nav-link-responsive-color: rgb(245, 245, 245);
$nav-link-responsive-hover: rgb(255, 199, 16);
$undeline-responsive-box-bg:rgb(255, 143, 16);
$information-card-bg:#fff;
$information-card-header-color:rgb(66, 4, 165);
$hashtag-color:rgb(65, 65, 65);
$hashtag-color-hover:rgb(1, 67, 153);
$newsletters-header-color:rgb(73, 1, 167);
$breadcrumb-bg:rgb(247, 247, 247);
$breadcrumb-link-color:rgb(135, 53, 243);
$breadcrumb-link-color-hover:rgb(73, 8, 158);
$news-content-time-color:#333333;
$news-content-time-bg:#f5f5f5;
$news-content-header-color:rgb(73, 8, 158);
$about-profile-header-color:rgb(13, 2, 168);
$management-card-color:rgb(3, 46, 110);
$announcement-header-color:rgb(76, 6, 156);
$contact-header-color:rgb(68, 2, 153);
$form-header-color:rgb(55, 0, 117);
$system-menu-btn-bg:#21078b;
$school-card-bg:#fff;
$school-card-shadow:3px 5px 8px rgba(0,0,0,0.2);
$header-report-form-color: rgb(53, 53, 53);
$bg-user-information:#fff;
$shadow: 3px 5px 8px rgba(0,0,0,0.2);
$serach-report-header-color:rgb(52, 2, 109);
$help-header-color:rgb(209, 15, 1);
$strong-heading-color:rgb(83, 2, 136);
$introduction-bg:rgb(255, 255, 255);
$feedback-rating-header:rgb(211, 1, 64);
$media-head-color:rgb(83, 9, 133);
// Direction variable
$direction: rtl;